:root {
  --form-ok-color: #a6903c;
  --form-error-color: #f44336;
}
/*para que los elementos no se pasen del tamaño que uno le ponga*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1rem = 10px*/
  height: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Tomorrow", sans-serif;
  /*weight: 100-300-500-700*/
  font-size: 1.8rem;
  line-height: 2;
  background-color: #fff;
  /* background: linear-gradient(327deg, #ffffff 0%, #898989 100%) fixed; */
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Globales */

h1,
h2,
h3 {
  margin: 0 0 3rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  max-width: 100%;
  /*las imagenes se ajustan al tamaño del contenedor*/
  display: block;
}

video {
  max-width: 100%;
  display: block;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  background: radial-gradient(#f8d858, #a6903c);
  display: none;
  animation: btn1 0.2s linear;
  animation-fill-mode: forwards;
  border-radius: 5px;
  box-shadow: 0 0 3px #f8d858, 0 0 6px #f8d858, 0 0 15px #f8d858,
    0 0 30px #f8d858, 0 0 60px #f8d858, 0 0 80px #f8d858, 0 0 98px #f8d858,
    0 0 120px #f8d858;
}

@keyframes btn1 {
  0% {
    width: 10%;
  }

  100% {
    width: 100%;
  }
}

.btn:hover::after {
  display: block;
}

.btn2 {
  background: #a6913c68;
  border-radius: 2rem;
  border: none;
  height: 5rem;
  text-align: center;
  color: black;
  padding: 0 2rem;
  margin: 2rem;
  animation: opacity 0.5s ease;
}

.btn2:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  border: none;
  cursor: pointer;
}

.btn3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 5px;
}

.btn3:hover {
  background-color: rgb(210, 210, 210);
}

/* navbar */

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 8rem;
  background: rgb(244, 244, 244);
  display: flex;
  color: white;
  z-index: 15;
  justify-content: space-between;
  padding: 0 10rem;
}

nav button {
  background: rgb(244, 244, 244);
}

/* metalorian dao logo */

.logo-navbar-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-titlte {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-titlte > * {
  color: #000;
  margin: 0;
  line-height: 1;
}

.logo-titlte p:nth-child(1),
.logo-titlte p:nth-child(3) {
  font-weight: 100;
}

/* buttons */

.contenedor-botones-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 0;
}

.contenedor-botones-navbar .btn {
  height: 50%;
  color: #a6903c;
}

.language-boton-container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  background: rgb(242, 242, 242);
  animation: options 0.5s ease;
}

@keyframes options {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.language-container-navbar:hover > .language-boton-container {
  display: block;
}

.language-container-navbar.btn3 {
  height: 8rem;
}

.sidenavbar-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vh;
  height: 100vh;
  z-index: 9;
}

.show-sideNavbar-backchround {
  display: block;
}

.isPalco {
  width: 18rem;
  position: absolute;
  background: black;
  content: "PALCO MEMBER";
  color: #bcb59b;
  height: 2rem;
  bottom: -2rem;
  left: -2rem;
  border-radius: 5px;
  box-shadow: 0 0 6px #a6903c;
}

.option-red {
  height: 100%;
}

.option-red select {
  height: 100%;
  color: #a6903c;
  border: none;
  background: rgb(244, 244, 244);
  text-align: center;
  width: 22rem;
  flex-wrap: wrap;
}

.option-red select:hover {
  cursor: pointer;
}

.btnConnect img {
  margin: 1rem;
  width: 2.5rem;
}

.hamburguer {
  display: none;
  cursor: pointer;
  position: relative;
  margin: auto 1px;
}

.hamburguer div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px;
  transition: 0.4s;
}

.hamburguer:hover div {
  background-color: #a6903c;
}

/***** main ****/

/* canvas */

.loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 1s ease-in;
  z-index: 1000;
}

.loaderContainer .pageloader {
  position: absolute;
  z-index: -1;
}

.hiddeLogo {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  opacity: 0;
}

.showLogo {
  position: static;
  width: 500px;
  height: 500px;
  transition-property: opacity;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 0;
}

/* header*/

header {
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7rem;
  position: relative;
}

.slogan-header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 15rem 0 10rem 0;
  line-height: 0.8;
}

.slogan-header-container h1 {
  font-weight: 500;
  font-size: 15rem;
  text-shadow: 0px 0px 5px rgba(255, 255, 255);
  margin-bottom: 1rem;
}

.slogan-header-container h1 span {
  font-weight: 300;
  font-size: 5rem;
  font-style: italic;
}

.slogan-header-container h2 {
  font-weight: 300;
  text-align: left;
  font-style: italic;
  text-shadow: 0px 0px 4px rgba(255, 255, 255);
}

.btn-compra-nft-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slogan-btn h4:hover {
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

.hologram-image-container {
  position: absolute;
  right: -20rem;
  width: 80rem;
  z-index: -1;
}

/*****send options section *****/

.options-to-send {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.options-to-send h1 {
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.page-description {
  width: 75rem;
  font-weight: 300;
}

.page-description span {
  font-weight: 500;
  font-style: italic;
}

.options-to-send h3 {
  margin: 5rem 0 0;
  font-weight: 500;
  font-style: italic;
  display: flex;
  justify-content: center;
  width: 100%;
}

.metamask-icon {
  width: 2.5rem;
  margin: 1rem;
}

.options-to-send-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 3rem 0;
}

.option-to-send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  font-weight: 300;
}

.option-to-send:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

.icono-option-container {
  width: 5rem;
}

/****** send process section *****/

#send-process {
  width: 95%;
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* manual data */

.manual-data-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.info-inputs-container h2 {
  margin: 0;
}

.manual-inputs-container {
  /* --form-ok-color: #a6903c;
  --form-error-color: #f44336; */
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container input,
.input-container select,
.token-address input {
  background: rgb(202, 202, 202);
  border-radius: 2rem;
  border: rgb(124, 124, 124) 1px solid;
  height: 5rem;
  text-align: center;
  color: black;
}

.input-container input[name="manual-wallet"],
.token-address input[name="token-addres"] {
  width: 55rem;
}

.input-container input[name="amount-input"] {
  width: 30rem;
}

.input-container label {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
}

.input-error {
  position: absolute;
  bottom: -5rem;
  margin-top: 1rem;
  background-color: var(--form-error-color);
  color: rgb(255, 255, 255);
  transition: all 800ms ease;
  border-radius: 1rem;
  line-height: 1.5;
  padding: 1rem;
  z-index: 1;
}

.input-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.none {
  display: none;
}

.token-address {
  margin-top: 2rem;
  display: none;
  position: relative;
}

.token-address h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.add-wallet-button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

.none {
  display: none;
}

.edit {
  background: #a6903c;
  box-shadow: 0 0 10px var(--form-error-color);
}

.manual-inputs-container button {
  background: #a6913c68;
  border-radius: 2rem;
  border: none;
  height: 5rem;
  width: 5rem;
  text-align: center;
  color: black;
}

.wallets-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.manual-wallets-container,
.incorrect-wallets-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 50rem;
  min-width: 82rem;
  padding: 0 1rem;
}

.manual-wallets-container {
  display: flex;
}

.manual-wallets-container p,
.incorrect-wallets-container p {
  margin: 0;
}

.incorrect-wallets-container {
  position: relative;
  display: none;
}

.manual-wallets-container h2 {
  display: none;
  margin-top: 2rem;
  background: rgb(220, 255, 216);
  background: radial-gradient(
    circle,
    rgb(220, 255, 216) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.incorrect-wallets-container h2 {
  margin-top: 2rem;
  background: rgb(255, 216, 216);
  background: radial-gradient(
    circle,
    rgb(255, 216, 216) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.individual-wallet-container {
  display: flex;
  flex-direction: column;
}

.manual-wallet {
  margin: 2rem 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 1rem;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.number-of-wallet {
  min-width: 1rem;
  text-align: center;
}

.wallet-adress {
  min-width: 50rem;
  text-align: center;
}

.wallet-amount {
  min-width: 10rem;
  text-align: center;
}

.manual-wallet a {
  max-width: 2.5rem;
  min-width: 2.5rem;
}

.repeated-wallet {
  width: 20rem;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  background: rgb(255, 234, 216);
  background: radial-gradient(
    circle,
    rgb(255, 234, 216) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.wallet-errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-errors p {
  font-weight: 300;
  font-style: italic;
  margin: 0;
  background: rgb(255, 216, 216);
  background: radial-gradient(
    circle,
    rgb(255, 216, 216) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.wallet-errors span {
  font-weight: 500;
}

.continue-btn-manual {
  display: block;
}

.continue-btn-manual.opacity {
  display: block;
  animation: opacity 2s ease;
}

.send-process-buttons-container {
  position: relative;
  width: 82rem;
  display: none;
  justify-content: center;
  position: relative;
}

.send-process-buttons-container .continue-btn-delete {
  position: absolute;
  left: 0;
}

/* file data */

/****drop area ***/

.file-data-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drop-area-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subir-archivo-titulo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.drop-area {
  position: relative;
  border: 2px dashed rgba(124, 124, 124, 0.5);
  height: 30rem;
  width: 70rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.drop-area > * {
  margin: 0;
}

.drop-area.active {
  background-color: #a6913c68;
  color: black;
  border: 2px dashed black;
}

.drop-area h2 {
  font-weight: 300;
  color: #000;
}

.drop-area span {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
}

.drop-area button {
  margin-bottom: 1rem;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: solid 1px #ddd;
  width: 50rem;
  margin: 1rem auto;
  background: #a6913c68;
}

.delete-file {
  width: 1rem;
}

#preview {
  margin-top: 1rem;
}

.status-text {
  padding: 0 1rem;
}

.plantilla {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -5rem;
  color: rgb(126, 126, 126);
  text-align: center;
}

.plantilla > * {
  margin: 0;
}

.plantilla a {
  text-decoration: underline;
}

.notas-archivo {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(126, 126, 126);
  text-align: center;
}

.notas-archivo > * {
  margin: 0;
}

.input-container-file {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.input-container-file select {
  width: 15rem;
}

.continue-btn-file {
  display: none;
}

/* aprove-window */

.aprove-erc20-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.show-aprove-erc20-container {
  display: flex;
}

.aprove-erc20 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80rem;
  height: 50rem;
  background: white;
  border-radius: 2rem;
  padding: 4rem;
  position: relative;
}

.close-aproval-erc20 {
  width: 2.5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.aprove-erc20 h2 {
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.aprove-erc20 span {
  font-weight: 500;
  font-style: italic;
}

.aprove-erc20 p {
  font-weight: 300;
}

.total-envio-erc20-aproval > * {
  margin: 0;
}

.total-envio-erc20-aproval {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 300;
}

.blockExprorerAprove {
  display: none;
}

/***** resumen final ******/

.resumen-final-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-resumen {
  margin: 2rem auto;
  width: 80rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.resumen-container {
  width: 100rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.resumen:nth-child(1),
.resumen:nth-child(3) {
  grid-column: 1/3;
}

.resumen:nth-child(2),
.resumen:nth-child(4) {
  grid-column: 3/5;
}

.resumen:nth-child(5) {
  grid-column: 1/5;
  flex-direction: row;
  justify-content: space-between;
}

.resumen-totales {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.resumen-totales h3 {
  min-width: 30rem;
  top: 0.5rem;
  margin: 0;
}

.resumen-totales:nth-child(3) h3 {
  line-height: 2rem;
}

.resumen:nth-child(5) p {
  font-weight: bolder;
  font-size: 2.5rem;
}

.resumen-totales h2 {
  margin: 0;
}

.resumen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  font-weight: 300;
}

.resumen h3 {
  font-weight: 300;
  font-style: italic;
}

.resumen > * {
  margin: 0;
}

.resumen:hover {
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

.container-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.atras-btn {
  position: absolute;
  left: 0;
}

.blockExplorerLink {
  position: absolute;
  right: 0;
  display: none;
}

/* loader send process */

.loader-send-process {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 2rem;
  z-index: 1;
}

.loader-send-process img {
  width: 7rem;
}

.show-loader-send-process {
  display: flex;
}

/* palco */

.palco-container {
  width: 130rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.palco-container h1 {
  line-height: 1;
}

.palco-container span {
  font-weight: 300;
  font-style: italic;
}

.palco-container p {
  font-weight: 300;
  margin-bottom: 4rem;
}

.palco-container p span {
  font-weight: 500;
}

.tables-palco-container {
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
  overflow: hidden;
  overflow-x: scroll;
}

.table-container {
  width: 100%;
  min-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.table-container table {
  width: 100%;
  margin-bottom: 1rem;
}

.table-container p {
  font-style: italic;
  margin: 0;
  font-weight: 500;
  color: rgb(126, 126, 126);
  padding: 2rem;
}

.table-title {
  width: 80%;
  text-align: center;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.table-title-normal-user {
  font-style: italic;
  text-align: center;
  background: rgb(126, 126, 126);
  background: radial-gradient(
    circle,
    rgba(126, 126, 126, 0.2) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.table-title-palco-user {
  font-style: italic;
  text-align: center;
  background: #a6903c;
  background: radial-gradient(
    circle,
    #a6913c85 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.palco-container table th {
  font-weight: 300;
}

.palco-container table .palco-table-firstRow th {
  font-weight: bolder;
}

.btn-palco {
  margin: 5rem;
  width: 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 5rem;
  font-weight: 300;
}

.btn-palco span {
  font-weight: 500;
}

.btn-palco:hover {
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

/****** tutorial *******/

.tutotial-container {
  display: flex;
  flex-direction: column;
  width: 130rem;
  margin: 0 auto 6rem;
}

.tutotial-container p {
  font-weight: 300;
}

.tutotial-container p span {
  font-weight: 500;
}

.btn-tutorial {
  margin: 5rem;
  width: 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(126, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 5rem;
  font-weight: 300;
}

.btn-tutorial span {
  font-weight: 500;
}

.btn-tutorial:hover {
  box-shadow: 0 0 3px #a6903c, 0 0 6px #a6903c, 0 0 15px #a6903c,
    0 0 30px #a6903c;
}

/********** Alertas ***********/

.installAlert,
.connectedToWeb3Netwrok,
.disConnectedToMainet,
.errorsAlert {
  position: fixed;
  left: 0px;
  bottom: 80px;
  display: flex;
  font-family: "Tomorrow";
  clip-path: circle(0% at 0 50%);
  transition: clip-path 1s ease;
  align-items: center;
  justify-content: center;
  min-width: 700px;
  height: 50px;
  background: rgb(197, 197, 197);
  /* z-index: 20; */
  font-size: 2rem;
}

.installAlert {
  height: 6rem;
  line-height: 1;
  padding: 1rem;
}

.errorsAlert p {
  width: 450px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.installAlert img,
.connectedToWeb3Netwrok img,
.disConnectedToMainet img,
.errorsAlert img {
  position: absolute;
  left: 30px;
  width: 30px;
}

.closeAlert {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  width: 50px;
  height: 50px;
  /* z-index: 5; */
}

.closeAlert .bar1 {
  background: black;
  width: 25px;
  height: 4px;
  transform: rotateZ(45deg);
  position: absolute;
}

.closeAlert .bar2 {
  background: black;
  width: 25px;
  height: 4px;
  transform: rotateZ(-45deg);
  position: absolute;
}

.showAlert {
  clip-path: circle(150% at 0 50%);
  z-index: 1000;
}

.hidde {
  opacity: 0;
  transition: opacity 1s;
}

.visible {
  opacity: 1;
}

/**** foter ***/

footer {
  width: 100%;
  background: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1rem;
  z-index: 15;
  justify-content: center;
  border-top: 2px solid rgb(172, 172, 172);
  padding: 2rem 0;
}

.footer-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.footer-logo-links-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.logo-footer-container {
  display: flex;
  margin: auto;
  font-size: 2rem;
}

.logo-footer-container img {
  height: 15rem;
}

.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-column {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.links-column a {
  text-transform: lowercase;
  text-align: center;
  text-decoration: underline;
  font-size: 1.6rem;
}

.links-column a::first-letter {
  text-transform: uppercase;
}

.footer-redes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  color: #a6903c;
}

.footer-redes-container h4 {
  margin: 0;
}

.footer-followus {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.footer-followus a {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
}

.final-text {
  margin: 2rem auto 0;
  color: rgb(126, 126, 126);
  text-align: center;
}

/*******Responsive**********/

@media (max-width: 1400px) {
  /* navbar */

  nav {
    padding: 0 3rem 0 0;
  }

  .hamburguer {
    display: block;
    z-index: 10;
  }

  .contenedor-botones-navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    padding-top: 4rem;
    gap: 2rem;
    right: 0;
    height: 100%;
    background: rgb(244, 244, 244);
    border-left: 2px solid rgb(172, 172, 172);
    z-index: 10;
    width: 0;
    transition: width 0.2s ease-in;
  }

  .showbuttons {
    width: 50%;
  }

  .contenedor-botones-navbar .symbol {
    display: none;
  }

  .contenedor-botones-navbar .btn {
    height: auto;
    margin-left: 4rem;
  }

  .options {
    height: auto;
    border-top: 0px;
  }

  .about-navbar-options,
  .about-navbar-options .btn,
  .community-navbar-options,
  .community-navbar-options .btn {
    position: static;
    flex-direction: column;
    margin: 0;
    text-align: center;
    padding: 1rem;
  }

  .about-navbar-options .btn3 {
    width: 100%;
  }

  .community-navbar-options {
    flex-direction: column;
    gap: 2rem;
  }

  .community-options {
    flex-direction: column;
    height: 2rem;
    width: 100%;
    gap: 0;
  }

  .community-options > * {
    margin: 0;
  }

  .community-redes {
    width: 100%;
    height: 20rem;
    padding: 1rem;
  }

  .follow-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .language-boton-container {
    top: 100%;
    left: 0rem;
  }

  .language-container-navbar.btn3 {
    margin-left: 4rem;
  }

  .about-navbar-btn img,
  .community-navbar-btn img {
    display: block;
  }

  /* Palco */

  .palco-container {
    width: 100rem;
  }

  /* Tutorial */
  .tutotial-container {
    width: 100rem;
  }
}

@media (max-width: 1200px) {
  /*header*/
  .slogan-header-container {
    line-height: 0.8;
  }

  .slogan-header-container h1 {
    font-size: 10rem;
  }

  .slogan-header-container h1 span {
    font-size: 3rem;
  }

  .slogan-header-container h2 {
    font-size: 3rem;
  }

  .hologram-image-container {
    left: 18rem;
    width: 60rem;
  }
}

@media (max-width: 1100px) {
  /* send process*/
  .options-to-send h1 {
    font-size: 3rem;
  }
  .page-description {
    text-align: center;
    width: 65rem;
    font-weight: 300;
  }
  /*manual wallets*/
  .input-container label {
    text-align: center;
  }

  /*resume final*/
  .resumen-container {
    width: 80rem;
  }

  .resumen h3 {
    font-size: 1.5rem;
  }
  .resumen h2 {
    font-size: 2rem;
  }
  .resumen-totales h3 {
    min-width: 10rem;
    top: 0.5rem;
    margin: 0;
  }

  /* Palco */

  .palco-container {
    width: 80rem;
  }

  /* Tutorial */
  .tutotial-container {
    width: 80rem;
  }
}

@media (max-width: 900px) {
  /*header*/
  .slogan-header-container {
    line-height: 0.8;
  }

  .slogan-header-container h1 {
    font-size: 8rem;
  }

  .slogan-header-container h1 span {
    font-size: 2rem;
  }

  .slogan-header-container h2 {
    font-size: 2rem;
  }

  .hologram-image-container {
    width: 40rem;
  }

  /* options to send*/
  .options-to-send {
    width: 90%;
  }
  /*manual wallets*/
  .manual-wallets-container,
  .incorrect-wallets-container {
    min-width: 70rem;
  }

  .manual-wallets-container h2,
  .incorrect-wallets-container h2 {
    font-size: 2rem;
    text-align: center;
  }

  .manual-wallets-container p,
  .incorrect-wallets-container p {
    font-size: 1.5rem;
  }

  .manual-wallet {
    gap: 1rem;
  }

  .number-of-wallet {
    min-width: 1rem;
  }

  .wallet-adress {
    min-width: 40rem;
  }

  .wallet-amount {
    min-width: 8rem;
    text-align: center;
  }

  .repeated-wallet {
    padding-left: 2rem;
  }

  /*aprove tokens window*/
  .aprove-erc20 {
    width: 60rem;
  }

  /* Palco */

  .palco-container {
    width: 60rem;
  }

  .tables-palco-container {
    flex-wrap: wrap;
  }

  /* Tutorial */
  .tutotial-container {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  /* navbar */

  nav .btn {
    font-size: 1.5rem;
  }

  .options .btn {
    text-align: center;
  }

  .showbuttons {
    width: 70%;
    text-align: center;
  }

  /*header*/

  .hologram-image-container {
    width: 40rem;
    left: 10rem;
  }

  /*options  to send*/
  .options-to-send h1 {
    text-align: center;
    font-size: 2rem;
  }

  .page-description {
    width: 40rem;
  }
  .options-to-send h3 {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }

  /* manual wallets*/

  .manual-inputs-container {
    flex-direction: column;
    align-items: center;
  }

  /*drop area*/
  .drop-area {
    width: 60rem;
  }

  /*resume final*/
  .resumen-container {
    width: 60rem;
  }

  .titulo-resumen {
    width: 60rem;
  }

  .resumen h3 {
    font-size: 1.5rem;
  }
  .resumen h2 {
    font-size: 2rem;
  }
  .resumen-totales h3 {
    min-width: 10rem;
    top: 0.5rem;
    margin: 0;
  }
  .container-buttons {
    width: 60rem;
  }

  /*alerts*/

  .installAlert,
  .connectedToWeb3Netwrok,
  .disConnectedToMainet,
  .errorsAlert {
    min-width: 60rem;
  }
}

@media (max-width: 700px) {
  /*drop area*/
  .drop-area {
    width: 50rem;
  }
  .file-container {
    width: 30rem;
  }
  /*footer*/
  .footer-info-container {
    gap: 5rem;
  }
  /* Palco */

  .palco-container {
    width: 40rem;
  }

  .tables-palco-container {
  }

  /* Tutorial */
  .tutotial-container {
    width: 40rem;
  }
}

@media (max-width: 650px) {
  /*footer*/
  .footer-info-container {
    gap: 1rem;
  }
  /*alerts*/

  .installAlert {
    min-width: 38rem;
    height: 10rem;
  }

  .connectedToWeb3Netwrok,
  .disConnectedToMainet,
  .errorsAlert {
    min-width: 38rem;
    height: 8rem;
  }

  .installAlert p,
  .connectedToWeb3Netwrok p,
  .disConnectedToMainet p {
    text-align: center;
    width: 30rem;
  }
  .errorsAlert p {
    width: 27rem;
  }

  .installAlert img,
  .connectedToWeb3Netwrok img,
  .disConnectedToMainet img,
  .errorsAlert img {
    left: 2rem;
  }
}

@media (max-width: 600px) {
  /* navbar*/

  .community-options {
    height: 8rem;
  }

  /*header*/

  .slogan-header-container h1 {
    font-size: 6rem;
  }

  .slogan-header-container h1 span {
    font-size: 2rem;
  }

  .slogan-header-container h2 {
    font-size: 2rem;
  }

  .hologram-image-container {
    left: 5rem;
    width: 32rem;
  }
  /*options  to send*/

  .page-description {
    width: 20rem;
  }

  .options-to-send-container {
    grid-template-columns: 1fr;
  }

  /*footer*/
  .footer-info-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  /*navbar*/
  .contenedor-botones-navbar .btn {
    margin-left: 1rem;
  }

  /* Palco */

  .palco-container {
    width: 30rem;
  }

  .table-container2 table,
  .table-container2 h3 {
    min-width: 30rem;
  }

  .btn-palco {
    margin: 5rem auto;
  }

  /* Tutorial */
  .tutotial-container {
    width: 30rem;
  }

  .btn-tutorial {
    margin: 2rem auto;
  }

  /*footer*/
  .footer-links-container {
    grid-template-columns: 1fr;
  }

  .links-column {
    width: 100%;
  }

  .links-column:nth-child(1),
  .links-column:nth-child(2),
  .links-column a {
    margin: auto;
    text-align: center;
  }

  .footer-redes-container {
    height: 20rem;
  }

  .final-text {
    margin-top: 0;
    width: 30rem;
  }
}
